@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  font-family: "Lora", serif;
}

/* HTML: <div class="wavy-line"></div> */
.wavy-line {
  --s: 44px; /* size of the wave */
  --b: 16px; /* thickness of the line */
  --m: 0.4; /* curvature of the wave [0 2] */

  background: #ccc90a42;
  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  height: calc(2 * var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(
        var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
      calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(
        var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
      calc(var(--s) + var(--b)) repeat-x;
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,500 L 0,343 C 45.42280741710793,319.514207899182 90.84561483421587,296.02841579836394 133,303 C 175.15438516578413,309.97158420163606 214.04034808024443,347.4005447057261 245,344 C 275.9596519197556,340.5994552942739 298.99299284480634,296.3694053787318 344,303 C 389.00700715519366,309.6305946212682 455.9876805405303,367.1218337793468 499,379 C 542.0123194594697,390.8781662206532 561.0562849930726,357.1432595038812 592,339 C 622.9437150069274,320.8567404961188 665.7871794871794,318.30512820512826 707,324 C 748.2128205128206,329.69487179487174 787.7949970582096,343.6362276756059 824,355 C 860.2050029417904,366.3637723243941 893.0328322799827,375.1499610924481 942,372 C 990.9671677200173,368.8500389075519 1056.0736738218604,353.7639279546015 1097,351 C 1137.9263261781396,348.2360720453985 1154.6724724325761,357.79432708914584 1184,356 C 1213.3275275674239,354.20567291085416 1255.2364364478353,341.0587636888155 1300,337 C 1344.7635635521647,332.9412363111845 1392.3817817760823,337.97061815559226 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,343 C 48.30904078650194,347.0557194101236 96.61808157300388,351.11143882024714 133,349 C 169.38191842699612,346.88856117975286 193.83671449448644,338.6099641291351 230,331 C 266.16328550551356,323.3900358708649 314.03506044905015,316.4487046632124 360,322 C 405.96493955094985,327.5512953367876 450.023043709313,345.59521721801514 485,345 C 519.976956290687,344.40478278198486 545.8727647136974,325.170426464727 584,328 C 622.1272352863026,330.829573535273 672.4858974358974,355.72307692307686 724,355 C 775.5141025641026,354.27692307692314 828.1836455427131,327.93726584296536 862,334 C 895.8163544572869,340.06273415703464 910.7795203932509,378.52785970506176 948,377 C 985.2204796067491,375.47214029493824 1044.6982728842834,333.9512953367876 1084,330 C 1123.3017271157166,326.0487046632124 1142.427388069616,359.666958947788 1181,370 C 1219.572611930384,380.333041052212 1277.5921748372527,367.3808688720606 1324,359 C 1370.4078251627473,350.6191311279394 1405.2039125813735,346.8095655639697 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,343 C 35.92915409288466,318.25611417943026 71.85830818576932,293.51222835886045 107,305 C 142.14169181423068,316.48777164113955 176.49592134980736,364.20720074398827 221,371 C 265.50407865019264,377.79279925601173 320.15800641500124,343.65896866518636 363,347 C 405.84199358499876,350.34103133481364 436.87205299018785,391.15692459526656 475,389 C 513.1279470098121,386.84307540473344 558.3537816242479,341.7133329537474 601,319 C 643.6462183757521,296.2866670462526 683.7128205128205,295.9897435897436 727,310 C 770.2871794871795,324.0102564102564 816.79493632447,352.32769268727816 850,356 C 883.20506367553,359.67230731272184 903.1074341892994,338.69948566114374 945,332 C 986.8925658107006,325.30051433885626 1050.775326918332,332.874364668147 1092,342 C 1133.224673081668,351.125635331853 1151.791258137372,361.8030556662681 1183,366 C 1214.208741862628,370.1969443337319 1258.0596405321796,367.9134126667806 1303,363 C 1347.9403594678204,358.0865873332194 1393.9701797339103,350.5432936666097 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,343 C 31.745299777942265,342.334782402399 63.49059955588453,341.669564804798 105,333 C 146.50940044411547,324.330435195202 197.7829015544042,307.6565231832071 241,309 C 284.2170984455958,310.3434768167929 319.37779422649885,329.7043424623736 352,340 C 384.62220577350115,350.2956575376264 414.70592153960035,351.52610696729863 457,343 C 499.29407846039965,334.47389303270137 553.7985196151,316.1912296684318 603,322 C 652.2014803849,327.8087703315682 696.0999999999999,357.70897435897433 733,357 C 769.9000000000001,356.29102564102567 799.8014803849002,324.97287289567083 835,310 C 870.1985196150998,295.02712710432917 910.6940784603996,296.39953405834234 950,321 C 989.3059215396004,345.60046594165766 1027.4222057735012,393.4289908709598 1069,385 C 1110.5777942264988,376.5710091290402 1155.6170984455957,311.8845024578184 1195,308 C 1234.3829015544043,304.1154975421816 1268.1094004441154,361.0329992977662 1308,377 C 1347.8905995558846,392.9670007022338 1393.9452997779422,367.9835003511169 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,343 C 45.42280741710793,319.514207899182 90.84561483421587,296.02841579836394 133,303 C 175.15438516578413,309.97158420163606 214.04034808024443,347.4005447057261 245,344 C 275.9596519197556,340.5994552942739 298.99299284480634,296.3694053787318 344,303 C 389.00700715519366,309.6305946212682 455.9876805405303,367.1218337793468 499,379 C 542.0123194594697,390.8781662206532 561.0562849930726,357.1432595038812 592,339 C 622.9437150069274,320.8567404961188 665.7871794871794,318.30512820512826 707,324 C 748.2128205128206,329.69487179487174 787.7949970582096,343.6362276756059 824,355 C 860.2050029417904,366.3637723243941 893.0328322799827,375.1499610924481 942,372 C 990.9671677200173,368.8500389075519 1056.0736738218604,353.7639279546015 1097,351 C 1137.9263261781396,348.2360720453985 1154.6724724325761,357.79432708914584 1184,356 C 1213.3275275674239,354.20567291085416 1255.2364364478353,341.0587636888155 1300,337 C 1344.7635635521647,332.9412363111845 1392.3817817760823,337.97061815559226 1440,343 L 1440,500 L 0,500 Z"
    );
  }
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 L 0,218 C 36.875321224544024,230.080900187895 73.75064244908805,242.16180037579002 113,246 C 152.24935755091195,249.83819962420998 193.8727514281918,245.43369868473496 241,246 C 288.1272485718082,246.56630131526504 340.7583518381445,252.10340488527018 381,238 C 421.2416481618555,223.89659511472982 449.09384121922983,190.15268177418434 491,177 C 532.9061587807702,163.84731822581566 588.8662832849361,171.28586801799239 622,179 C 655.1337167150639,186.71413198200761 665.4410256410256,194.70384615384614 699,194 C 732.5589743589744,193.29615384615386 789.3696141509613,183.898747366623 835,184 C 880.6303858490387,184.101252633377 915.0805177551291,193.70116437966178 953,201 C 990.9194822448709,208.29883562033822 1032.308314828522,213.29659511472983 1073,206 C 1113.691685171478,198.70340488527017 1153.6862229307828,179.1124551614189 1200,185 C 1246.3137770692172,190.8875448385811 1298.9467934483478,222.25358423959463 1340,232 C 1381.0532065516522,241.74641576040537 1410.5266032758261,229.8732078802027 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,218 C 42.66691719334207,230.265241321718 85.33383438668415,242.53048264343602 126,246 C 166.66616561331585,249.46951735656398 205.33157964660552,244.14331074797394 244,230 C 282.6684203533945,215.85668925202606 321.33984702689366,192.89627436466816 358,197 C 394.66015297310634,201.10372563533184 429.3090322458197,232.27159179335342 475,233 C 520.6909677541803,233.72840820664658 577.4240239898271,204.01735846191806 617,210 C 656.5759760101729,215.98264153808194 678.9948717948718,257.6589743589743 713,249 C 747.0051282051282,240.34102564102568 792.5964888306858,181.3467441021845 837,177 C 881.4035111693142,172.6532558978155 924.6191728823854,222.95404923228756 966,250 C 1007.3808271176146,277.04595076771244 1046.926819639773,280.8370589686652 1087,263 C 1127.073180360227,245.1629410313348 1167.6735485585227,205.69771489305168 1206,192 C 1244.3264514414773,178.30228510694832 1280.3789861261364,190.3720814591281 1319,199 C 1357.6210138738636,207.6279185408719 1398.8105069369317,212.81395927043593 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,218 C 40.71165328626468,211.45976674448178 81.42330657252936,204.91953348896354 121,216 C 160.57669342747064,227.08046651103646 199.01842699614724,255.78163278862763 245,261 C 290.98157300385276,266.21836721137237 344.5029854428818,247.95393535652602 380,242 C 415.4970145571182,236.04606464347398 432.9696312323256,242.40262578526824 468,241 C 503.0303687676744,239.59737421473176 555.618489627816,230.43556150240087 595,221 C 634.381510372184,211.56443849759913 660.5564102564102,201.8551282051282 702,199 C 743.4435897435898,196.1448717948718 800.1558693465431,200.14392567708632 848,212 C 895.8441306534569,223.85607432291368 934.8201123574178,243.5691690865266 970,248 C 1005.1798876425822,252.4308309134734 1036.5636812237851,241.5793979768073 1079,237 C 1121.4363187762149,232.4206020231927 1174.9251627474425,234.11323900624416 1219,232 C 1263.0748372525575,229.88676099375584 1297.735667786445,223.96764599821594 1333,221 C 1368.264332213555,218.03235400178406 1404.1321661067775,218.01617700089201 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,218 C 30.895876748467415,242.60420770938907 61.79175349693483,267.20841541877815 108,255 C 154.20824650306517,242.79158458122188 215.72886276072808,193.77054603427658 256,187 C 296.2711372392719,180.22945396572342 315.29279546015294,215.7094004441155 351,221 C 386.70720453984706,226.2905995558845 439.0999553986601,201.3918521892615 477,193 C 514.9000446013399,184.6081478107385 538.3073829452069,192.72319079883846 582,206 C 625.6926170547931,219.27680920116154 689.6705128205127,237.71538461538464 737,232 C 784.3294871794873,226.28461538461536 815.010565772742,196.41527073962305 854,197 C 892.989434227258,197.58472926037695 940.2872240885195,228.6235324261231 974,234 C 1007.7127759114805,239.3764675738769 1027.8405378731804,219.09059955588452 1060,203 C 1092.1594621268196,186.90940044411548 1136.350624418759,175.0140693503388 1185,186 C 1233.649375581241,196.9859306496612 1286.7569644517832,230.85312304276036 1330,240 C 1373.2430355482168,249.14687695723964 1406.6215177741083,233.57343847861983 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,218 C 36.875321224544024,230.080900187895 73.75064244908805,242.16180037579002 113,246 C 152.24935755091195,249.83819962420998 193.8727514281918,245.43369868473496 241,246 C 288.1272485718082,246.56630131526504 340.7583518381445,252.10340488527018 381,238 C 421.2416481618555,223.89659511472982 449.09384121922983,190.15268177418434 491,177 C 532.9061587807702,163.84731822581566 588.8662832849361,171.28586801799239 622,179 C 655.1337167150639,186.71413198200761 665.4410256410256,194.70384615384614 699,194 C 732.5589743589744,193.29615384615386 789.3696141509613,183.898747366623 835,184 C 880.6303858490387,184.101252633377 915.0805177551291,193.70116437966178 953,201 C 990.9194822448709,208.29883562033822 1032.308314828522,213.29659511472983 1073,206 C 1113.691685171478,198.70340488527017 1153.6862229307828,179.1124551614189 1200,185 C 1246.3137770692172,190.8875448385811 1298.9467934483478,222.25358423959463 1340,232 C 1381.0532065516522,241.74641576040537 1410.5266032758261,229.8732078802027 1440,218 L 1440,500 L 0,500 Z"
    );
  }
}
.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 L 0,93 C 35.30464518210633,79.56975934255726 70.60929036421265,66.13951868511452 111,62 C 151.39070963578735,57.86048131488547 196.86748372525574,63.01168460209912 236,85 C 275.13251627474426,106.98831539790088 307.92077473476434,145.813742906489 350,133 C 392.07922526523566,120.18625709351099 443.4494173356868,55.733343771944824 485,57 C 526.5505826643132,58.266656228055176 558.2815559224885,125.25288200573175 594,137 C 629.7184440775115,148.74711799426825 669.4243589743589,105.2551282051282 714,86 C 758.5756410256411,66.7448717948718 808.0210081800755,71.72660517375544 843,83 C 877.9789918199245,94.27339482624456 898.4916083053389,111.83845109985006 942,112 C 985.5083916946611,112.16154890014994 1052.012558598569,94.91959042684431 1097,91 C 1141.987441401431,87.08040957315569 1165.4581573003854,96.48318719277269 1203,101 C 1240.5418426996146,105.51681280722731 1292.1548121998899,105.14766080206493 1334,103 C 1375.8451878001101,100.85233919793507 1407.922593900055,96.92616959896753 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,93 C 50.51135436239062,74.63287118753439 101.02270872478124,56.2657423750688 142,50 C 182.97729127521876,43.7342576249312 214.42051946326563,49.5699016872592 245,56 C 275.57948053673437,62.4300983127408 305.29521342215645,69.45465087589442 339,68 C 372.70478657784355,66.54534912410558 410.3986268481088,56.6114948091632 460,52 C 509.6013731518912,47.3885051908368 571.1102791854087,48.09936988745279 618,51 C 664.8897208145913,53.90063011254721 697.1602564102564,58.991025641025644 728,68 C 758.8397435897436,77.00897435897436 788.2486951735657,89.93652754844464 822,109 C 855.7513048264343,128.06347245155536 893.8449628954811,153.26286416519577 943,138 C 992.1550371045189,122.73713583480422 1052.3714532445103,67.01201579077225 1090,66 C 1127.6285467554897,64.98798420922775 1142.669224126478,118.68907267171517 1181,133 C 1219.330775873522,147.31092732828483 1280.9516502495778,122.2316935223671 1328,109 C 1375.0483497504222,95.7683064776329 1407.524174875211,94.38415323881645 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,93 C 38.94087285771225,79.0859078745089 77.8817457154245,65.17181574901782 118,59 C 158.1182542845755,52.828184250982176 199.4138899960143,54.39864487843762 240,61 C 280.5861100039857,67.60135512156238 320.46269430051814,79.23360473723166 356,93 C 391.53730569948186,106.76639526276834 422.73533280191305,122.66693617263567 463,128 C 503.26466719808695,133.33306382736433 552.5959744918295,128.09865057222572 594,105 C 635.4040255081705,81.90134942777429 668.8807692307693,40.938461538461546 704,47 C 739.1192307692307,53.061538461538454 775.8809485850936,106.14750327392815 823,116 C 870.1190514149064,125.85249672607185 927.5954364288561,92.47152536582587 969,76 C 1010.4045635711439,59.52847463417413 1035.7373056994818,59.96639526276833 1075,70 C 1114.2626943005182,80.03360473723167 1167.4553407732164,99.66289358310082 1204,112 C 1240.5446592267836,124.33710641689918 1260.4413312076524,129.38203040482836 1297,125 C 1333.5586687923476,120.61796959517166 1386.779334396174,106.80898479758582 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,93 C 46.43514490690656,77.11919375960827 92.87028981381312,61.23838751921653 133,74 C 173.12971018618688,86.76161248078347 206.95398565165408,128.16564368274214 248,138 C 289.0460143483459,147.83435631725786 337.31376757957065,126.09903774981495 381,104 C 424.68623242042935,81.90096225018505 463.7909440300632,59.438205317998055 497,66 C 530.2090559699368,72.56179468200195 557.5224563001765,108.14814097819281 600,116 C 642.4775436998235,123.85185902180719 700.1192307692307,103.96923076923078 740,88 C 779.8807692307693,72.03076923076922 802.0006206229006,59.97493594488413 831,53 C 859.9993793770994,46.02506405511587 895.8782867391676,44.131025451232716 943,59 C 990.1217132608324,73.86897454876728 1048.4862324204291,105.50096225018504 1089,110 C 1129.5137675795709,114.49903774981496 1152.1767835791154,91.86512554802711 1187,80 C 1221.8232164208846,68.13487445197289 1268.8066332631101,67.03853555770654 1313,71 C 1357.1933667368899,74.96146444229346 1398.596683368445,83.98073222114672 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,93 C 35.30464518210633,79.56975934255726 70.60929036421265,66.13951868511452 111,62 C 151.39070963578735,57.86048131488547 196.86748372525574,63.01168460209912 236,85 C 275.13251627474426,106.98831539790088 307.92077473476434,145.813742906489 350,133 C 392.07922526523566,120.18625709351099 443.4494173356868,55.733343771944824 485,57 C 526.5505826643132,58.266656228055176 558.2815559224885,125.25288200573175 594,137 C 629.7184440775115,148.74711799426825 669.4243589743589,105.2551282051282 714,86 C 758.5756410256411,66.7448717948718 808.0210081800755,71.72660517375544 843,83 C 877.9789918199245,94.27339482624456 898.4916083053389,111.83845109985006 942,112 C 985.5083916946611,112.16154890014994 1052.012558598569,94.91959042684431 1097,91 C 1141.987441401431,87.08040957315569 1165.4581573003854,96.48318719277269 1203,101 C 1240.5418426996146,105.51681280722731 1292.1548121998899,105.14766080206493 1334,103 C 1375.8451878001101,100.85233919793507 1407.922593900055,96.92616959896753 1440,93 L 1440,500 L 0,500 Z"
    );
  }
}

.text-gradient {
  font-weight: 700;
  display: inline;
  background-image: linear-gradient(
    to right,
    rgba(83, 72, 243, 0.8),
    rgba(207, 25, 152, 0.95)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 0rem;
}

.text-gradient-2 {
  background-image: linear-gradient(
    to right,
    rgba(83, 72, 243, 0.8),
    rgba(207, 25, 152, 0.95)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactus__intro {
  background: linear-gradient(
    to right,
    rgba(83, 72, 243, 0.8),
    rgba(207, 25, 152, 0.95)
  );
  border-radius: 1rem;
}

.medium-text {
  font-size: clamp(1.5rem, 0.7857rem + 2.381vw, 3rem);
}

.small-text {
  font-size: clamp(0.875rem, 0.7188rem + 0.8333vw, 1.5rem);
}

.nexter_gallery {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  gap: 15px;
}

.nexter_gallery__item-1 {
  grid-area: 1/1/3/4;
}

.nexter_gallery__item-2 {
  grid-area: 1/4/5/-1;
}

.nexter_gallery__item-3 {
  grid-area: 3 / 1 / 5 / 4;
}
.nexter_gallery__item-4 {
  grid-area: 1/7/3/-1;
}
.nexter_gallery__item-5 {
  grid-area: 3/1/6/3;
}
.nexter_gallery__item-6 {
  grid-area: 4/3/6/5;
}
.nexter_gallery__item-7 {
  grid-area: 4/5/5/6;
}
.nexter_gallery__item-8 {
  grid-area: 3/6/5/8;
}
.nexter_gallery__item-9 {
  grid-area: 3/8/6/-1;
}
.nexter_gallery__item-10 {
  grid-area: 6/1/8/2;
}
.nexter_gallery__item-11 {
  grid-area: 6/2/-1/4;
}
.nexter_gallery__item-12 {
  grid-column: 4/5;
  grid-row: 6/8;
}
.nexter_gallery__item-13 {
  grid-column: 5/8;
  grid-row: 5/-1;
}
.nexter_gallery__item-14 {
  grid-column: 8/-1;
  grid-row: 6/-1;
}

.portfolio-info {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.portfolio-box:hover .portfolio-info {
  background-color: rgba(185, 23, 137, 0.637);
  transform: translate(-50%, -50%) scale(1);
}

/* footer classes styling */

.footer .contact-box {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

/* @use "../abstracts/variables" as v;
@use "../utils/breakpoints" as b;
@use "../utils/functions" as f;

.nexter_gallery {
  grid-column: 2/-1;

  @include b.breakpoints-down(tablets) {
    grid-column: 1/-1;
  }

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);

  gap: 1.5rem;
  padding: 1.5rem;

  &__item {
    &-1 {
      grid-area: 1/1/3/3;
    }
    &-2 {
      grid-area: 1/3/4/6;
    }
    &-3 {
      grid-area: 1/6/3/7;
    }
    &-4 {
      grid-area: 1/7/3/-1;
    }
    &-5 {
      grid-area: 3/1/6/3;
    }
    &-6 {
      grid-area: 4/3/6/5;
    }
    &-7 {
      grid-area: 4/5/5/6;
    }
    &-8 {
      grid-area: 3/6/5/8;
    }
    &-9 {
      grid-area: 3/8/6/-1;
    }
    &-10 {
      grid-area: 6/1/8/2;
    }
    &-11 {
      grid-area: 6/2/-1/4;
    }
    &-12 {
      grid-column: 4/5;
      grid-row: 6/8;
    }
    &-13 {
      grid-column: 5/8;
      grid-row: 5/-1;
    }
    &-14 {
      grid-column: 8/-1;
      grid-row: 6/-1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
} */
